<% content_for :head do %>
 	<style>
	.dropdown-menu {
		width: 100%;
		padding: 0px;
		border-left: 5px;
		border-right: 5px;
		}
		.dropdown-toggle{
			min-width: 160px;
		}
		.dropdown-item.btn-primary{
			border: 0px;
			border-radius: 0px;
		}
		.destroy.btn-primary{
			color: red;
		}
		.destroy.btn-primary:hover{
			background-color: red;
			color: white;
		}
	.btn{
		width: 100%;
		}
 	</style>
<% end %>

<% if @instances.blank? %>
	<div class="container feature-box">
		<h1> Create An Instance </h1>
		<i class="fa fa-server fa-5x"></i>
		<h2> You don't seem to have any instances </h2>
		<h3> Create One Now with just a Few Clicks ! </h3>
		<a class="btn btn-default signupbutton" href="/instances/new/" style="width: 50% !important;" role="button">Create Instance</a>
	</div>
<% else %>


	<div class="container feature-box">
		<table class="table table-sm">
			<thead>
				<tr class="theader">
					<th>Distribution</th>
					<th>Name</th>
					<th>IP Addres</th>
					<th>Status</th>
					<th>Memory</th>
					<th>Disk</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% Array(@instances).each do |inst| %>
					<tr class="trow">
						<td><img src="/assets/<%= inst.distro.downcase %>-32.png" alt="<%=inst.distro%>"></label></td>
						<td><%= inst.name %></td>
						<td><%= inst.ip_address %></td>
						<td class="Def <%= inst.status.capitalize %>">
							<%if inst.status.capitalize == "New" %>
								Creating. Come back in a couple of minutes.
							<%else%>
								<%= inst.status.capitalize %>
							<%end%>
						</td>

						<td><%= inst.disk && inst.size.upcase %></td>
						<td><%= inst.disk && "#{inst.disk}GB" %></td>
						<td>
						<% if inst.disk? %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
								<div class="dropdown-menu">
									<button class="btn btn-primary dropdown-item" href="#">Restart</button>
									<button class="btn btn-primary dropdown-item" href="#">Power Off</button>
									<button class="btn btn-primary dropdown-item" href="#">Renew</button>
									<div class="dropdown-divider" style="border: 1px red solid" color="red"></div>
									<button class="btn btn-primary destroy dropdown-item" href="#">Destroy</button>
								</div>
							</div>
						<% end %>
						</td>
					</tr>

				<% end %>
			</tbody>
		</table>

	</div>





<% end %>
