<% if @instances.blank? %>
	<div class="container feature-box">
		<h1> Create An Instance </h1>
		<i class="fa fa-server fa-5x"></i>
		<h2> You don't seem to have any instances </h2>
		<h3> Create One Now with just a Few Clicks ! </h3>
		<a class="btn btn-default signupbutton" href="/instances/new/" style="width: 50% !important;" role="button">Create Instance</a>
	</div>
<% else %>


	<div class="container feature-box table-responsive">
		<table class="table table-sm">
			<thead>
				<tr class="theader">
					<th>Distribution</th>
					<th>Name</th>
					<th>IP Addres</th>
					<th>Status</th>
					<th>Memory</th>
					<th>Disk</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% Array(@instances).each do |inst| %>
					<tr class="trow">
						<td><img src="/assets/<%= inst.distro.downcase %>-32.png" alt="<%=inst.distro%>"></label></td>
						<td><%= inst.name %></td>
						<td><%= inst.ip_address %></td>
						<td class="Def <%= inst.status.capitalize %>">
							<%if inst.status.capitalize == "New" %>
								Creating. Come back in a couple of minutes.
							<%else%>
								<%= inst.status.capitalize %>
							<%end%>
						</td>
						<td><%= inst.disk && mkinst.size.upcase %></td>
						<td><%= inst.disk && "#{inst.disk}GB" %></td>
						<td>Placeholder</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>





<% end %>
