<% title "Create Instance" %>
<% content_for :head do %>
	<script>
		function oneMonthPrices(){
			$("div.prices").hide();
			$("div.nodis").show();
			setCheckToDefaultPrices();
		}
		function threeMonthPrices(){
			$("div.prices").hide();
			$("div.dis").show();
		}
		function sixMonthPrices(){
			$("div.prices").hide();
			$("div.maxdis").show();
		}
		function setCheckToDefaultPrices(){
			$(".btn.sizes").removeClass("active");
			$(".defsize").addClass("active").find('input.defsizeinput').prop('checked',true);
		}
		$(document).on('turbolinks:load',function() {
			//checks to see if host name is valid
			$("#instance_name").on('keyup change',function(){
			var inst_regex = /^[a-zA-Z0-9]+[a-z0-9A-Z.-]+[a-z0-9A-Z]$/g;
			var inst_name = $("#instance_name").val();
			if(!inst_regex.test(inst_name)) {
    			$(".signupbutton").prop('disabled',true);
    			$("#invalidhost").show("fadeIn");
    		}
			else {
				$(".signupbutton").prop('disabled',false);
				$("#invalidhost").hide("fadeOut");
			}
		});
		//check if hostname is empty
		$(".fsubmit").click(function(){
			var inst_name = $("#instance_name").val();
			if (inst_name.length == 0){
				$("#invalidhost").show();
				return false;
			}
		});
		//show hide and highlight selected distros
		$("label.distro").on("click", function() {
 			$("label.distro").removeClass("active");
 			$("div.ver").hide("fadeOut");
    		$(this).addClass("active");
	  	});
  		$(".ubuntu").on("click", function() { $(".ubuntuver").show("fadeIn").find('label.btn.btn-primary').removeClass('active').find('input.def').prop('checked',true).closest("label.btn.btn-primary").addClass('active'); });
	 	$(".fedora").on("click", function() { $(".fedoraver").show("fadeIn").find('label.btn.btn-primary').removeClass('active').find('input.def').prop('checked',true).closest("label.btn.btn-primary").addClass('active'); });
		$(".centos").on("click", function() { $(".centosver").show("fadeIn").find('label.btn.btn-primary').removeClass('active').find('input.def').prop('checked',true).closest("label.btn.btn-primary").addClass('active'); });
		$(".debian").on("click", function() { $(".debianver").show("fadeIn").find('label.btn.btn-primary').removeClass('active').find('input.def').prop('checked',true).closest("label.btn.btn-primary").addClass('active'); });
		$("label.onemonth").on("click", function(){
			oneMonthPrices();
		});
		$("label.threemonth").on("click", function(){
			threeMonthPrices();
		});
		$("label.sixmonth").on("click", function(){
			sixMonthPrices();
		});
		$(".ubuntuver").show();
	});
	$(window).bind("pageshow", function() {
		$('.ver').hide();
		$('.sizes').removeClass('active');
		$('label.distro').removeClass('active');
		$('.inst-duration').removeClass('active');
		$('.region').removeClass('active');
		$('.ver label.btn.btn-primary').removeClass('active');
  		$('input[name="instance[distro]"]:checked').closest('label.distro').addClass("active");
  		$('input[name="instance[image]"]:checked').closest('label.btn-primary').addClass("active").closest("div.ver").show();
  		$('input[name="instance[size]"]:checked').closest('.btn.sizes').addClass("active");
  		var currentSelectedPrice = $('input[name="instance[duration]"]:checked').closest('label.inst-duration').addClass("active");
  		
  		if (currentSelectedPrice.hasClass('onemonth'))
  			oneMonthPrices();
  		else if (currentSelectedPrice.hasClass('threemonth'))
  			threeMonthPrices();
  		else
  			sixMonthPrices();

  		$('input[name="instance[region]"]:checked').closest('div.region').addClass("active")
	});
	</script>
	<style>
		.ver{
			display: none;
		}
		.fsubmit{
			margin-top:30px;
		}
		.sizes-list.btn-group > .btn,.distro-list.btn-group > .btn{
			float:none;
		}
		h3{
			margin-top: 20px;
			margin-bottom:20px;
		}
	</style>
<% end %>

<div class="container">
	<%= simple_form_for(@newinstance, defaults: {label: false,error_html: { class: 'rederror'}}) do |f| %>
		<%= f.error_notification %>
		<div class="form-inputs">
	  	<h1 class="container" style="font-weight:bolder;margin-top:50px;">Create An Instance</h2>
	  	<div class="container feature-box">
		  	<h3>Select Your Distribution</h3>
		  </div>
			<div class="btn-group distro-list container" style="padding:0px;" data-toggle="buttons">
		  	<label class="btn distro active ubuntu">
		  		<%= f.radio_button :distro, 'Ubuntu',:checked => true %>
					<p>
		    	Ubuntu
		    	</p>
		    </label><!--
	  		--><label class="btn distro fedora">
	  			<%= f.radio_button :distro, 'Fedora' %>
					<p>
	    		Fedora
	    		</p>
	  		</label><!--
	  		--><label class="btn distro centos">
	  			<%= f.radio_button :distro, 'CentOs' %>
					<p>
	    		Cent OS
	    		</p>
	    	</label><!--
	  		--><label class="btn distro debian">
	  			<%= f.radio_button :distro, 'Debian' %>
					<p>
	    		Debian
	    		</p>
	  		</label>
		  </div>
	  	<div class="container feature-box distrover">
	  		<h3>Select Your Distribution Version and Architecture</h3>
	  		<div class="ubuntuver ver">
	  			<div class="btn-group" data-toggle="buttons" role="group" >
			    	<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'ubuntu-16-04-x64' %>
		    			16.04.1 x64
		    		</label>
		    		<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'ubuntu-16-04-x32' %>
		    			16.04.1 x32
		    		</label>
						<label class="btn btn-primary active">
			  			<%= f.radio_button :image, 'ubuntu-14-04-x64',:class => "def",:checked => true %>
			    		14.04.5 x64
		    		</label>
		  			<label class="btn btn-primary">
			  			<%= f.radio_button :image, 'ubuntu-14-04-x32' %>
			    		14.04.5 x32
		    		</label>
			    	<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'ubuntu-12-04-x64' %>
		    			12.04.5 x64
		    		</label>
		    		<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'ubuntu-12-04-x32' %>
		    			12.04.5 x32
		    		</label>
  				</div>
	  		</div>
	  		<div class="fedoraver ver">
	  			<div class="btn-group" data-toggle="buttons" role="group" >
		  			<label class="btn btn-primary active">
			  			<%= f.radio_button :image, 'fedora-24-x64',:class => "def" %>
			    		24 x64
		    		</label>
		  			<label class="btn btn-primary">
			  			<%= f.radio_button :image, 'fedora-23-x64' %>
			    		23 x64
		    		</label>
	  			</div>
	  		</div>
	  		<div class="centosver ver">
	  			<div class="btn-group" data-toggle="buttons" role="group" >
		  			<label class="btn btn-primary">
			  			<%= f.radio_button :image, 'centos-6-x64' %>
			    		6.8 x64
		    		</label>
			    	<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'centos-6-x32' %>
		    			6.8 x32
		    		</label>
						<label class="btn btn-primary active">
			  			<%= f.radio_button :image, 'centos-7-x64',:class => "def" %>
			    		7.2 x64
		    		</label>
		    		<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'centos-5-x64' %>
		    			5.11 x64
		    		</label>
			    	<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'centos-5-x32' %>
		    			5.11 x32
		    		</label>
	  			</div>
	  		</div>
	  		<div class="debianver ver">
	  			<div class="btn-group" data-toggle="buttons" role="group" >
			    	<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'debian-7-x64' %>
		    			7.11 x64
		    		</label>
		    		<label class="btn btn-primary">
		  				<%= f.radio_button :image, 'debian-7-x32' %>
		    			7.11 x32
		    		</label>
						<label class="btn btn-primary active">
			  			<%= f.radio_button :image, 'debian-8-x64',:class => "def" %>
			    		8.5 x64
		    		</label>
		  			<label class="btn btn-primary">
			  			<%= f.radio_button :image, 'debian-8-x32' %>
			    		8.5 x32
		    		</label>
	  			</div>
		  	</div>
		  </div>
	  	<div class="container feature-box">
	  		<h3>Select Your Plan</h3>
	  		<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary inst-duration onemonth">
						<%= f.radio_button :duration,1 %>
						1 Month
					</label>
					<label class="btn btn-primary inst-duration threemonth active">
						<%= f.radio_button :duration,3,:checked => true %>
						3 Months
					</label>
					<label class="btn btn-primary inst-duration sixmonth">
						<%= f.radio_button :duration,6 %>
						6 Months
					</label>
				</div>
			</div>
	  	<div class="btn-group sizes-list container" data-toggle="buttons">
				<br>
	  		<div class="btn sizes">
					<div class="nodis prices text">
						<% if current_user.had_instance %>
							<h3><sup>$</sup>6/Month</h3>
						<% else %>
							<h3>Free for First Month</h3>
						<% end %>
					</div>
	  			<div class="dis prices text">
	  				<% if current_user.had_instance %>	
		  				<h4><sup>$</sup>3.99/First Month</h4>
	  				<% else %>
						<h4>Free for First Month</h4>
					<% end %>
		  			<h5><sup>$</sup>6/Thereafter</h5>
	  			</div>
				<div class="maxdis prices text">
					<% if current_user.had_instance %>	
						<h4><sup>$</sup>1.99/First Month</h4>
					<% else %>
						<h4>Free for First Month</h4>
					<% end %>
					<h5><sup>$</sup>6/Thereafter</h5>
				</div>
	  			<div class="specs">
		  			<ul>
			  			<li><span>512 MB</span> RAM</li>
			  			<li><span>Single</span> Core CPU</li>
			  			<li><span>20 GB SSD</span> Disk</li>
			  			<li><span>1000 GB</span> Bandwidth</li>
		  			</ul>
	  			</div>
	  			<%= f.radio_button :size, '512mb' %>
		    </div><!--
		 --><div class="btn defsize active sizes">
					<div class="nodis prices text">
						<h3><sup>$</sup>11/Month</h3>
					</div>
	  			<div class="dis prices text">
	  				<h4><sup>$</sup>6.99/First Month</h4>
	  				<h5><sup>$</sup>11/Thereafter</h5>
	  			</div>
					<div class="maxdis prices text">
						<h4><sup>$</sup>4.99/First Month</h4>
						<h5><sup>$</sup>11/Thereafter</h5>
					</div>
	  			<div class="specs">
		  			<ul>
			  			<li><span>1 GB</span> RAM</li>
			  			<li><span>Single</span> Core CPU</li>
			  			<li><span>30 GB SSD</span> Disk</li>
			  			<li><span>2000 GB</span> Bandwidth</li>
		  			</ul>
	  			</div>
	  			<%= f.radio_button :size, '1gb',class: 'defsizeinput',:checked => true %>
		    </div><!--
		 --><div class="btn sizes">
					<div class="nodis prices text">
						<h3><sup>$</sup>22/Month</h3>
					</div>
	  			<div class="dis prices text">
		  			<h4><sup>$</sup>13.99/First Month</h4>
		  			<h5><sup>$</sup>22/Thereafter</h5>
	  			</div>
					<div class="maxdis prices text">
						<h4><sup>$</sup>11.99/First Month</h4>
						<h5><sup>$</sup>22/Thereafter</h5>
					</div>
	  			<div class="specs">
		  			<ul>
			  			<li><span>2 GB</span> RAM</li>
			  			<li><span>Dual</span> Core CPU</li>
			  			<li><span>40 GB SSD</span> Disk</li>
			  			<li><span>3000 GB</span> Bandwidth</li>
		  			</ul>
	  			</div>
	  			<%= f.radio_button :size, '2gb' %>
		    </div>
	  	</div>
		  <div class="container feature-box">
				<h3>Select Instance's Location</h3>
	  		<div class="btn-group" data-toggle="buttons">
		  		<div class="btn netherland region">
		  			<%= f.radio_button :region,'ams2' %>
		  			<p>Amsterdam</p>
		  		</div>
					<div class="btn india region">
		  			<%= f.radio_button :region,'blr1' %>
		  			<p>Bangalore</p>
		  		</div>
		  		<div class="btn germany region">
			  		<%= f.radio_button :region,'fra1' %>
			  		<p>Frankfurt</p>
			    </div>
			    <div class="btn uk region">
		  			<%= f.radio_button :region,'lon1' %>
		  			<p>London</p>
			    </div>
			    <div class="btn america active region">
		  			<%= f.radio_button :region, 'nyc1',:checked => true %>
		  			<p>New York</p>
			    </div>
			    <div class="btn singapore region">
		  			<%= f.radio_button :region,'sgp1' %>
		  			<p>Singapore</p>
			    </div>
			    <div class="btn america region">
		  			<%= f.radio_button :region, 'sfo1' %>
		  			<p>San Francisco</p>
			    </div>
			    <div class="btn canada region">
		  			<%= f.radio_button :region, 'tor1' %>
		  			<p>Toronto</p>
			    </div>
				</div>
			</div>

			<div class="container feature-box">
		  	<h3>Enter Your Instance's Name</h3>
		  	<h4>The Name you would like to give to your instance.<br>The name can only contain alphanumeric characters,periods and dashes.<br>Minimum 3 Characters.</h4>
		  	<%= f.input :name,id: "instancename",placeholder: 'Example: myubuntuserver',pattern:"^[a-zA-Z0-9]?[a-z0-9A-Z.-]*[a-z0-9A-Z.]$",required: true%>
		  <div id="invalidhost" class="help-block rederror" style="display: none;font-family: 'quicksandlight'; font-size: 20px;">
				Invalid Host Name
			</div>
			<div class="form-actions">
	    	<%= f.button :submit, "Create Instance", :class => 'fsubmit signupbutton' %>
	  	</div>
		</div>
	  	<br> <br> <br><br>
		</div>
	<% end %>
</div>
