<%= simple_form_for(record,:url => update_record_path,method: :put,defaults: {label: false,error_html: { class: 'rederror'}},html: { class: "col-md-12 update-record"}) do |f| %>
  <%= f.hidden_field :id,value: record.id %>
  <div class="row">
    <div class="col-md-2">
      <label class="record-type active <%=record.record_type.downcase%>">
        <%= record.record_type %>
      </label>
    </div>
    <div class="col-md-3">
      <%= f.input_field :name,placeholder: "Name",class: "record name"%>
    </div>
    <div class="col-md-3">
      <%= f.input_field :data,placeholder: "Hostname",class: "record data"%>
    </div>
    <div class="col-md-2">
      <%= f.button :submit, "Update",class: "srv-button update-record-button inactive"%>
    </div>
    <div class="col-md-2">
      <%= link_to "Delete",delete_record_path(:domainname=> record.domain.name,:id => record.id),method: :delete,:class => "btn btn-default delete-record-button"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <%= f.input_field :priority,placeholder: "Priority",class: "record priority"%>
    </div>
    <div class="col-md-2">
      <%= f.input_field :port,placeholder: "Port",class: "record port"%>
    </div>
    <div class="col-md-2">
      <%= f.input_field :weight,placeholder: "Weight",class: "record weight"%>
    </div>

  </div>
<% end %>
