<%= render 'home/shared/frontpage' %>
<div class="wrapper">
  <div class="muhcontainer">
  <div class="row feature-box">
  <h1> Simple. Reliable. Flexible.</h1>
      <div class="col-md-4 col-xs-4 col-sm-4 key-points">
         <img src="<%= image_path('easytodeployvps.png')%>" alt="Test" class="img-rounded myimg">
         <h2>Easy To Deploy</h2>
         <p>Launch a server instance with just a few clicks.<br>Doesn't get any simpler than this.<br>Multiple Linux Distribution to choose from.</p>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4 key-points">
          <img src="<%= image_path('99percentuptimeserver.png')%>" alt="Test" class="img-rounded myimg">
          <h2>99.9% Uptime</h2>
          <p>Server's Uptime is of great importance to us.<br>All servers have lightning fast Gigabit uplinks.<br>We guarantee that you won't be dissappointed.</p>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4 key-points">
        <img src="<%= image_path('simpletoscalevps.png')%>" alt="Test" class="img-rounded myimg">
        <h2 style="font-family: quicksandbold"> Easily Scalable</h2>
        <p>Need more resources?<br>You can easily scale your servers in the future.<br>Just with a couple of clicks.</p>
      </div>
  </div>
  <br>
  </div>
</div>
<%= render 'home/shared/pricing' %>
<div class="wrapper">
  <div class="contact-wrapper">
    <div class="muhcontainer">
      <h1>Support</h1>
      <div class="contact-block">
        <div class="row contact-content">
          <div class="col-md-2 col-xs-2 col-sm-2"></div>
          <div class="col-md-8 col-xs-8 col-sm-8">
            <img class="contact-img" src="<%= image_path('support.png') %>" width="128px;" />
            <p>Get 24/7 Support on any query or issue by using the contact button below or by creating a support ticket.</p>
            <p>You can also contact us on getting tips on how to migrate your applications or websites to us without any hassle.
          </div>
          <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>
        <a href="/contact" class="btn btn-primary bluebutton contact-button" style="width: 275px" role="button">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="etos">*Prices applicable for First Mo. for semi-annual plan duration.</div>
</div>
<%= render 'shared/footer' %>
