<% content_for :head do %>
  <style>
    .add-record{
      margin-top:25px;
    }
    .add-record h3{
      margin-top:40px;
      font-family: 'quicksandregular';
      font-weight: bolder;
    }
    input:not([type=submit]){
      color: #666;
    }
    .update-record input,.update-record .delete-record-button,.update-record .record-type{
      margin:10px !important;
      padding: 0.5em !important;
      font-size: 1.2em !important;

    }
    .record:not(:first-child) > .row{
      margin-top: 10px;
    }
  </style>
  <script>
    $(document).ready(function(){
      content = $(".detached").remove();
      $(".new-record-types").append(content.find(".a-record"));
      $("input[name='record[record_type]']").click(function(){
        $("label.record-type.new").removeClass("active");
        $(this).parent().addClass("active");
        $(content).append($(".new-record-type").remove());
        $(".new-record-types").html(content.find("." + $(this).parent().attr('id')));
        // $("." + $(this).attr('id')).show();
        // $(".new-record-types").append(mx-record)

      });
    });
  </script>
<% end %>
<div class="container feature-box" style="text-align: left;">
  <h1 class="domain-title"><%= @domain.name %></h1>
  <div class = "new-record">
		<h2>Add a Record</h2>
    <div class="add-record">
      <h3>Select Record Type</h3>
      <div class="new-record-form">
        <%= simple_form_for(@newrecord,:url => add_record_path,method: :post,defaults: {label: false,error_html: { class: 'rederror'}},html:{class: "new-record-form"}) do |f| %>
        <div class="record-types">
          <div class="row">
            <div class="col-md-2" data-toggle="">
              <label class="record-type new a active" id="a-record">
                <%= f.radio_button :record_type, 'A',checked: true%>
                A
              </label>
            </div>
            <div class="col-md-2">
              <label class="record-type new aaaa" id="aaaa-record">
                <%= f.radio_button :record_type, 'AAAA'%>
                AAAA
              </label>
            </div>
            <div class="col-md-2">
              <label class="record-type new cname" id="cname-record">
                <%= f.radio_button :record_type, 'CNAME'%>
                CNAME
              </label>
            </div>
            <div class="col-md-2">
              <label class="record-type new mx" id="mx-record">
                <%= f.radio_button :record_type, 'MX'%>
                MX
              </label>
            </div>
            <div class="col-md-2">
              <label class="record-type new txt" id="txt-record">
                <%= f.radio_button :record_type, 'TXT'%>
                TXT
              </label>
            </div>
            <div class="col-md-2">
              <label class="record-type new srv" id="srv-record">
                <%= f.radio_button :record_type, 'SRV'%>
                SRV
              </label>
              </div>
          </div>
        </div>
          <div class="row new-record-types">
            <div class="detached">
              <div class="new-record-type a-record">
                <div class="col-md-4">
                  <%= f.input_field :name,placeholder: "Enter Name",class: "record name"%>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :data,placeholder: "IP Address",class: "record data"%>
                </div>
                <div class="col-md-4">
                  <%= f.button :submit, "Create A Record",class: "add-record-button"%>
                </div>
              </div>
              <div class="new-record-type aaaa-record">
                <div class="col-md-4">
                  <%= f.input_field :name,placeholder: "Enter Name",class: "record name"%>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :data,placeholder: "IP Address",class: "record data"%>
                </div>
                <div class="col-md-4">
                  <%= f.button :submit, "Create AAAA Record",class: "add-record-button"%>
                </div>
              </div>
              <div class="new-record-type cname-record">
                <div class="col-md-4">
                  <%= f.input_field :name,placeholder: "Enter Name",class: "record name"%>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :data,placeholder: "Points to",class: "record data"%>
                </div>
                <div class="col-md-4">
                  <%= f.button :submit, "Create CNAME Record",class: "add-record-button"%>
                </div>
              </div>
              <div class="new-record-type mx-record">
                <div class="col-md-4">
                  <%= f.input_field :data,placeholder: "Enter Hostname",class: "record data"%>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :priority,placeholder: "Enter Priority",class: "record priority"%>
                </div>
                <div class="col-md-4">
                  <%= f.button :submit, "Create MX Record",class: "add-record-button"%>
                </div>
              </div>
              <div class="new-record-type txt-record">
                <div class="col-md-4">
                  <%= f.input_field :name,placeholder: "Enter Name",class: "record name"%>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :data,placeholder: "Enter Text",class: "record data"%>
                </div>
                <div class="col-md-4">
                  <%= f.button :submit, "Create TXT Record",class: "add-record-button"%>
                </div>
              </div>
              <div class="new-record-type srv-record">
                <div class="col-md-12">
                  <div class="row">
                  <div class="col-md-4">
                    <%= f.input_field :name,placeholder: "Enter Name",class: "record name"%>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :data,placeholder: "Enter Hostname",class: "record data"%>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :priority,placeholder: "Enter Priority",class: "record priority"%>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <%= f.input_field :port,placeholder: "Enter Port",class: "record port"%>
                    </div>
                    <div class="col-md-4">
                      <%= f.input_field :weight,placeholder: "Enter Weight",class: "record weight"%>
                    </div>
                    <div class="col-md-4">
                      <%= f.button :submit, "Create SRV Record",class: "add-record-button"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
	</div>
  <% if @records.first.id.nil? %>
    <h2 class="no-records">This domain has no records !</h2>
  <% else %>
  <div class="records">
    <h2>Current Records</h2>
    <div class="record-list">
      <% @records.each do |record| %>
        <% if !record.id.nil? %>
          <div class="record">
            <div class="row">
              <%= render :partial => "records/shared/#{record.record_type.downcase}",:locals => {:record => record} %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
