<%= content_for :head do %>
  <style>

  </style>
  <script>
    $(document).ready(function(){
      $(".ticket#<%=params[:ticketid]%>").addClass("current");
    });
  </script>
<% end %>
<div class="container" style="margin-top:40px;">
  <h1 style="font-weight: 900;">Support Tickets</h1>
  <div class="row support-nav-row">
    <div class="col-md-12">
      <ul class="nav nav-pills support-nav">
        <li class="nav-item nav-ticket opentickets current">
          <a class="nav-link btn" href="#">Open Tickets</a>
        </li>
        <li class="nav-item nav-ticket closedtickets">
          <a class="nav-link btn" href="#">Closed Tickets</a>
        </li>
        <% if params[:ticketid] == "newticket" %>
          <li class="nav-item createticket disabled">
            <a class="nav-link btn createticket disabled" href="/support/ticket/newticket">Create Ticket</a>
          </li>
        <% else %>
          <li class="nav-item createticket">
            <a class="nav-link btn createticket " href="/support/ticket/newticket">Create Ticket</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row support-split">
    <div class="col-md-3">
      <% if @tickets.nil? %>
      <div class="notickets feature-box">
        You don't seem to have any tickets
      </div>
      <% else %>
      <div class="tickets">
        <% Array(@tickets).each do |ticket| %>
          <a id="<%=ticket.id%>" class="ticket" href="/support/ticket/<%=ticket.id%>" style="display:block;text-decoration:none;color:inherit;">
            <div class="row">
              <div class="col-md-12">
              <span class="username"><%= @user.username %></span>
              <span class="date"><%=time_ago_in_words(ticket.updated_at).gsub('about','') %> ago </span>
              </div>
            </div>
            <div class="title">
              <span><%= ticket.title %></span>
            </div>
          </a>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <% if !@ticket.nil? %>
        <div class="ticket-body">
          <h2 class="ticket-title"><%= @ticket.title %></h2>
          <div class="ticket-message">
            <%= simple_format(@ticket.message) %>
          </div>
        </div>
      <% else %>
      <div class="newticket">
        <h3>Create New Support Ticket</h3>
        <%= simple_form_for(@newticket, defaults: {label: false,error_html: { class: 'rederror'}}) do |f| %>
          <%= f.input :title,placeholder: "Subject",required:true %>
          <%= f.input :message,placeholder: "Describe the problem you need assistance with in detail.",required: true %>
          <%= f.button :submit, "Create Ticket",:class=> "bluebutton" %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<div style="margin-bottom:200px;"/>
