<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<% if (controller_name == "registrations" || controller_name == "passwords" || controller_name == "confirmations" || controller_name == "sessions") && (action_name == 'new' || action_name == 'create') %>
	<body class="bluer">
<% elsif %>
	<body class="page-top">
		<%= render 'shared/navbar' %>
<% end %>
<% flash.each do |key, value| %>
  <% if value.length > 0 %>
    <% if key == "notice" || key == "notice1" then alert_class = "success" elsif key == "alert" then alert_class = "danger" else alert_class = key end %>
    <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value%>
    <% end %>
  <% end %>
<% end %>

<%= yield %>
</body>
</html>
