<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <% if devise_controller? %>
    <%= stylesheet_link_tag 'application', 'sessions',media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <% else %>
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application', params[:controller]%>
  <% end %>
  <%= favicon_link_tag 'Lideployfavicon.png',type: 'image/png' %>
  <%= yield :head %>
  <script>
    $(document).ready(function(){
      $("form").submit(function() {
        $(this).submit(function() {
          return false;
        });
        return true;
      });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<% if ["sessions","registrations","passwords","confirmations"].include?(controller_name) %>
	<body class="bluer">
    <div class="form container new_user" style="text-align:center;">
      <a href="/"><img src="/assets/lideploy.png" width="42px";></a><a href="/" class="btn header-logo header-text" style="color:#333;margin-top:6px !important;font-size:35px;">LiDeploy</a>
    </div>
<% elsif %>
	<body class="page-top">
		<%= render 'shared/navbar' %>
<% end %>
<% flash.each do |key, value| %>
  <% if value.length > 0 %>
    <% if key == "notice" || key == "notice1" then alert_class = "success" elsif key == "alert" then alert_class = "danger" else alert_class = key end %>
    <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value%>
    <% end %>
  <% end %>
<% end %>

<%= yield %>
</body>
</html>
